:root {
  --font-family: "Georgia", sans-serif;
  --second-family: "Arial", sans-serif;
}

.body {
  max-width: 1280px;
}

li {
  list-style-type: none;
}

.header-info {
  min-height: 908px;
  background: url(imgMain/bsckgoundMain.jpg);
  background-size: cover;
}

.container_one {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  min-height: 90px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding-top: 44px;
}

.header-logo__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.header-logo__sub-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
  padding-top: 10px;
  padding-left: 5px;
}

.header-nav__ul {
  display: flex;
  gap: 36px;
  padding-top: 43px;
}

.header-nav__link {
  text-decoration: none;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #fafafa;
}

.notOnly {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}

.notOnly-info {
  padding-top: 162px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.notOnly-info__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #fff;
  margin: 0;
}

.notOnly-info__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  max-width: 460px;
}

.btn {
  border: none;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  background-color: #f1cdb3;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.notOnly__img img {
  height: 100%;
}

.container_two {
  max-width: 915px;
  margin: 0 auto;
}

.about-content {
  display: flex;
  justify-content: space-around;
  min-height: 588px;
  gap: 57px;
}

.about__img {
  padding-top: 76px;
}

.about-info {
  padding-top: 90px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.h2__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.about-info__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  margin: 0;
}

.ourfriends {
  min-height: 877px;
  background-color: #f6f6f6;
  text-align: center;
}

.ourfriends-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 53px;
}

.ourfriends__title {
  text-align: center;
  padding-top: 75px;
}

.ourfriends-info {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-bottom: 90px;
}

.ourfriends-card {
  width: 270px;
  text-align: center;
  background-color: #fff;
}

.h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.ourfriends-card__title {
  padding-top: 24px;
}

.btn-1 {
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  width: 52px;
  height: 52px;
  background-color: #fff;
  margin-top: 161px;
}

.ourfriends-card__btn {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 12px auto;
  width: 187px;
  height: 52px;
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #fff;
}

.btn-2 {
  width: 261px;
  height: 52px;
}

.help {
  text-align: center;
  min-height: 611px;
}

.help__h2-title {
  padding-top: 75px;
}

.container_three {
  max-width: 1026px;
  margin: 0 auto;
  padding-top: 60px;
}

.help-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 119px;
}

.help-info__card {
  min-height: 143px;
  text-align: center;
}

.help-info__card-title {
  padding-top: 24px;
}

.inAddition {
  min-height: 456px;
  background-color: #f6f6f6;
}

.inAddition-container {
  padding-top: 75px;
}

.inAddition-content {
  display: flex;
  gap: 30px;
}

.inAddition-img__container {
  padding-top: 10px;
  max-width: 505px;
}

.inAddition-info__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 0 19px 0;
  padding-top: 19px;
}

.inAddition-info__btn {
  border: none;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.inAddition-info__text {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
  padding-top: 21px;
  margin: 0;
}

.footer {
  height: 350px;
  background: url(./imgMain/footer-gradient-background.png);
}

.footer-info {
  padding-top: 23px;
  display: flex;
}

.footer-info__item {
  height: 245px;
}

.footer-info__item-content_left {
  padding-top: 34px;
  width: 295px;
}

.footer-info__item-content_center {
  padding: 34px 0 0 144px;
  width: 302px;
}

.footer-info-img {
  padding: 17px 0 0 159px;
}

.footer-h2__title {
  color: #fff;
}

.footer-info__item-content {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.email {
  padding-top: 38px;
}

.footer__email,
.footer__phone,
.footer__marker {
  margin-right: 20px;
}

.phone {
  padding-top: 40px;
}

.marker_1 {
  padding-top: 31px;
}

.marker_2 {
  padding-top: 34px;
}
